body {
    width: 100%;
    display: block;
    
}



/* Responsive Mobile S 320px *********************************************************/
.event-body {
    width: 100%;
    padding: 20px 0px 30px;
    background-color: #5c66c4;
}

.ant-card-head-title {
    font-size: 20px;
}

.event-header-title .event-img {
    width: 100%;
    text-align-last: center;
    
}

.event-img img {
    width: 130px;
    height: 100px;
}

.event-header-title h1{
    text-align: center;
    text-decoration-line: underline;
    text-underline-position: under;
    font-weight: bolder;
    
}

.card-wrapper1 {
    width: 100%;
    padding: 10px;
    background-color: #AD72B7;
    border-radius: 10px;
    margin-bottom: 20px;
  }

.card-wrapper2 {
    width: 100%;
    padding: 10px;
    background-color: #AD72B7;
    border-radius: 10px;
  }

.card-wrapper1 .c1 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #AD72B7;
    border-radius: 10px;
  }

.card-wrapper2 .c2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #AD72B7;
    border-radius: 10px;
  }

.card-wrapper1 p {
    color:black;
    font-size: 15px;
}

.card-wrapper2 p {
    color:black;
    font-size: 15px;
}

/* Responsive Mobile M 375px *********************************************************/
@media only screen and (min-width: 375px) {

    .event-header-title h1{
        font-size: 30px;
    }

    .card-wrapper1 .c1 {
        font-size: 18px;
        font-weight: bold;
    }

    .card-wrapper2 .c2 {
        font-size: 18px;
        font-weight: bold;
    }

    .card-wrapper1 p {
        font-size: 16px;
    }
    
    .card-wrapper2 p {
        font-size: 16px;
    }

}

/* Responsive Mobile L 425px *********************************************************/
@media only screen and (min-width: 425px) {

    .event-header-title h1{
        font-size: 45px;
    }

    .card-wrapper1 .c1 {
        font-size: 20px;
        font-weight: bold;
    }

    .card-wrapper2 .c2 {
        font-size: 20px;
        font-weight: bold;
    }

    .card-wrapper1 p {
        font-size: 17px;
    }
    
    .card-wrapper2 p {
        font-size: 17px;
    }

}



/* Responsive Tablet 768px *********************************************************/
@media only screen and (min-width: 768px) {
    .event-body {
        width: 100%;
        background-image: url(./Vector2.png);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .event-img img {
        width: 150px;
        height: 120px;
    }

    .event-header-title h1{
        font-size: 55px;
    }

    .card-wrapper1 .c1 {
        font-size: 20px;
        font-weight: bold;
    }

    .card-wrapper2 .c2 {
        font-size: 20px;
        font-weight: bold;
    }

    .card-wrapper1 p {
        font-size: 20px;
    }
    
    .card-wrapper2 p {
        font-size: 20px;
    }

}

/* Responsive Laptop 954px *********************************************************/
@media only screen and (min-width: 800x) {
    .event-body {
        width: 100%;
        
    }

    .event-header-title h1{
        font-size: 75px;
    }

    .card-wrapper1 {
        padding: 20px;
    }    

    .card-wrapper2 {
        padding: 20px;
    }

    .card-wrapper1 .c1 {
        font-size: 25px;
        font-weight: bold;
    }

    .card-wrapper2 .c2 {
        font-size: 25px;
        font-weight: bold;
    }

    .card-wrapper1 p {
        font-size: 25px;
    }
    
    .card-wrapper2 p {
        font-size: 25px;
    }
}

/* Responsive Laptop 1024px *********************************************************/
@media only screen and (min-width: 1024px) {
    .event-body {
        width: 100%;
        
    }
    .event-img img {
        width: 180px;
        height: 150px;
    }

    
}

/* Responsive Laptop L 1440px *********************************************************/
@media only screen and (min-width: 1440px) {
    .event-body {
        width: 100%;
        
    }

    .event-header-title h1{
        font-size: 70px;
    }

    .card-wrapper1 .c1 {
        border-radius: 15px;
    }
    
    .card-wrapper2 .c2 {
        border-radius: 15px;
    }

    .card-wrapper1 p {
        font-size: 30px;
    }
    
    .card-wrapper2 p {
        font-size: 30px;
    }
}

/* Responsive 4K 2560px *********************************************************/
@media only screen and (min-width: 2560px) {
    .event-body {
        width: 100%;
        
    }

    .event-img img {
        width: 300px;
        height: 230px;
    }

    .event-header-title h1{
        font-size: 85px;
    }

    .ant-card-head-title {
        font-size: 40px;
    }

    .card-wrapper1 .c1 {
        font-size: 50px;
        border-radius: 20px;
    }

    .card-wrapper2 .c2 {
        font-size: 50px;
        border-radius: 20px;
    }

    .card-wrapper1 p {
        font-size: 40px;
    }
    
    .card-wrapper2 p {
        font-size: 40px;
    }
}