body {
    width: 100%;
    display: block;
}

.EventAnnouncement-body {
    width: 100%;
    padding: 20px 0px 30px;
    background-color: #5c66c4;
}

/* Event List css *********************************************************/
/* Event List Mobile Responsive S *********************************************************/
.event-card {
    padding: 10px;
    background-color: #AD72B7;
    border-radius: 10px;
}

.listing-header-title .listing-img {
    width: 100%;
    text-align-last: center;
    
}

.listing-img img {
    width: 130px;
    height: 100px;
}

.listing-header-title h1{
    text-align: center;
    text-decoration-line: underline;
    text-underline-position: under;
    font-weight: bolder;
}


.event-itemsRow {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.event-itemsRow p {
    font-size: 15px;
    padding: 7px 0px 0px 10px;
    margin: 0;
}

.event-itemsRow h2 {
    margin: 0;
}

.event-details {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

/* Announcement List css *********************************************************
*******************************************************
****************************/
/* Event List Mobile Responsive S *********************************************************/
.announcement-card {
    padding: 10px;
    background-color: #AD72B7;
    border-radius: 10px;
}

.announcement-img img {
    width: 130px;
    height: 100px;
}

.announcement-header-title .announcement-img {
    width: 100%;
    text-align-last: center;
    
}

.announcement-header-title h1{
    text-align: center;
    text-decoration-line: underline;
    text-underline-position: under;
    font-weight: bolder;
}

.announcement-itemsRow {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.announcement-itemsRow p {
    font-size: 15px;
    padding: 2px 0px 0px 10px;
    margin: 0;
}

.announcement-itemsRow h2 {
    margin: 0;
    font-size: 15px;
}

.announcement-details {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-bottom: 10px;
}


/* Announcement/Event List Mobile Responsive M *********************************************************/
@media only screen and (min-width: 375px) {
    .event-card {
        padding: 12px;
    }
    .announcement-card {
        padding: 12px;
    }

    .announcement-itemsRow p {
        padding: 1px 0px 0px 10px;
    }

}

/* Announcement/Event List Mobile Responsive L *********************************************************/
@media only screen and (min-width: 425px) {
    .event-card {
        padding: 14px;
    }

    .event-itemsRow p {
        font-size: 17px;
        padding: 6px 0px 0px 10px;
    }

    .announcement-card {
        padding: 14px;
    }

    .announcement-itemsRow h2 {
        font-size: 18px;
    }
    
    .announcement-itemsRow p {
        font-size: 17px;
        padding: 2px 0px 0px 10px;
    }

}

/* Announcement/Event List Tablet Responsive  *********************************************************/
@media only screen and (min-width: 768px) {
    .EventAnnouncement-body {
        width: 100%;
        background-image: url(./Vector2.png);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .listing-img img {
        width: 150px;
        height: 120px;
    }

    .listing-header-title h1 {
        font-size: 50px;
    }

    .event-card {
        padding: 20px;
        border-radius: 15px;
    }
    .event-details {
        flex-direction: row;
    }
    .event-details1 {
        width: 50%;
    }
    .event-details2 {
        width: 50%;
    }

    .announcement-img img {
        width: 150px;
        height: 120px;
    }
    .announcement-header-title h1 {
        font-size: 40px;
    }
    .announcement-card {
        padding: 20px;
        border-radius: 15px;
    }

    .announcement-details {
        flex-direction: row;
    }

    .announcement-details1 {
        width: 50%;
    }
    
    .announcement-details2 {
        width: 50%;
    }

}

/* Announcement/Event List Laptop Responsive  *********************************************************/
@media only screen and (min-width: 1024px) {
    .listing-img img {
        width: 180px;
        height: 150px;
    }
    .listing-header-title h1 {
        font-size: 70px;
    }

    .event-itemsRow p {
        font-size: 20px;
        padding: 9px 0px 0px 10px;
    }
    
    .event-itemsRow h2 {
        font-size: 27px;
    }

    .event-details {
        font-size: 17px;
    }

    .announcement-img img {
        width: 180px;
        height: 150px;
    }
    .announcement-header-title h1 {
        font-size: 70px;
    }

    .announcement-itemsRow p {
        font-size: 20px;
        padding: 9px 0px 0px 10px;
    }
    
    .announcement-itemsRow h2 {
        font-size: 27px;
    }

    .announcement-details {
        font-size: 17px;
    }
}

/* Announcement/Event List Laptop Responsive L *********************************************************/
@media only screen and (min-width: 1440px) {
    .listing-header-title h1 {
        font-size: 90px;
    }
    .event-itemsRow p {
        font-size: 35px;
        padding: 15px 0px 0px 10px;
    }
    
    .event-itemsRow h2 {
        font-size: 45px;
    }

    .event-details {
        font-size: 30px;
    }
    .event-card {
        padding: 35px;
        border-radius: 15px;
    }

    .announcement-img img {
        width: 200px;
        height: 170px;
    }

    .announcement-header-title h1 {
        font-size: 90px;
    }
    
    .announcement-itemsRow p {
        font-size: 35px;
        padding: 15px 0px 0px 10px;
    }
    
    .announcement-itemsRow h2 {
        font-size: 45px;
    }

    .announcement-details {
        font-size: 30px;
    }
    .announcement-card {
        padding: 35px;
        border-radius: 15px;
    }

}

/* Announcement/Event List 4K Responsive  *********************************************************/
@media only screen and (min-width: 2560px) {
    .listing-img img {
        width: 300px;
        height: 230px;
    }
    .listing-header-title h1 {
        font-size: 100px;
    }
    .event-itemsRow p {
        font-size: 40px;
        padding: 14px 0px 0px 10px;
    }
    
    .event-itemsRow h2 {
        font-size: 50px;
    }

    .event-details {
        font-size: 33px;
    }

    .event-card {
        padding: 45px;
        border-radius: 25px;
    }

    .announcement-img img {
        width: 300px;
        height: 230px;
    }

    .announcement-header-title h1 {
        font-size: 100px;
    }
    
    .announcement-itemsRow p {
        font-size: 40px;
        padding: 14px 0px 0px 10px;
    }
    
    .announcement-itemsRow h2 {
        font-size: 50px;
    }

    .announcement-details {
        font-size: 33px;
    }
    .announcement-card {
        padding: 45px;
        border-radius: 25px;
    }

}


