<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Silang Medical Services</title>
        <style type="text/css">
            * {
                font-family: 'Roboto', sans-serif;
                text-shadow: 1px .5px #24232380;
                color: white;
            }

            body {
                margin: 0;
            }

            a { 
                text-decoration: none;
            }

            table {
                border-spacing: 0;
                border-collapse: collapse;
            }
            
            tr {
                padding: 0; 
                margin: 0;
            }

            td {
                padding: 0; 
                margin: 0;
            }

            img {
                border: 0;
                padding: 0;
                margin: 0;
                display: block
            }

            .wrapper {
                width: 100%;
                table-layout: fixed;
                padding-bottom: 40px;
            }

            .main {
                margin: 0 auto;
                width: 100%;
                max-width: 600px;
                border-spacing: 0;
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <center class="wrapper">
            <table cellspacing="0"class="main" align="center">
                <tr>
                    <td>
                        <table cellspacing="0" width="100%" align="center" style="max-width: 600px;" >
                            <tr style="background-color: #ecade8;">
                                <td style="padding: 20px; font-size: 14px; text-align: center;" >
                                    <img src="cid:app-logo" alt="thumbnail" border="0" style="height: 70px; width: 90px; margin: 0 auto; 
                                    -webkit-filter: drop-shadow(1px 1px 1px rgb(211, 208, 208));
                                    filter: drop-shadow(1px 1px 1px rgb(211, 208, 208));
                                  ">
                                </td>
                                <td style="padding: 20px; font-size: 14px;" align="center">
                                    <p style="font-size: 24px">Silang Medical Services</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" width="100%" align="center" style="max-width: 600px;" >
                            <tr>
                                <td>
                                    <a href="">
                                        <img heigh="100" src="cid:web-app-bg" alt="thumbnail" border="0" style="max-width: 100; max-height: 300px; object-fit: cover; display: block;" width="600">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" width="100%" align="center" style="max-width: 600px;" >
                            <tr style="background-color: #ecade8;">
                                <td style="padding: 20px; font-size: 14px;" colspan="2">
                                    <p>Please open the following link to reset your account's threshold:</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="background-color: #ecade8;">
                    <td>
                        <table cellspacing="0" width="100%" align="center">
                            <tr>
                                <td style="
                                text-align: center;
                                vertical-align: middle;">
                                    <a href="{{ url }}">
                                        <div>
                                            <p style="display: inline-block; padding: 15px; color: white; background-color: #DB9FDB; font-size: 12px; text-align: center; font-weight: 500;">
                                                Reset Threshold
                                            </p>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="background-color: #ecade8;">
                    <td>
                        <table cellspacing="0" width="100%" align="center" style="max-width: 600px;" >
                            <tr>
                                <td style="color: white; line-height: 10px; padding: 20px; font-size: 12px;">
                                    <p>Sincerely,</p>
                                    <p style="font-weight: 600;">Silang Medical Services</p>
                                    <p>Silang, Cavite 4118</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>