@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.AboutLayer {
    background-color: #ad72b7;
    font-family: Quicksand;
    min-height: 100vh;
    width: 100%;
    display: flex;
}

//-----------------Left Side-----------------//

.AboutSection {
    width: 50%;
}

.SmallWhiteDiv {
    position: absolute;
    width: 100px;
    height: 2px;
    left: 10vh;
    top: 25vh;
    background: white;
}

.AboutTitle {
    margin-left: 50px;
    margin-top: 25vh;
}

.AboutTitle h1 {
   font-size: 100px;
   font-weight: 300;
   margin-left: 50px;
   width: 55vh;
   display: flex;
   color: white;
   justify-content: center;
}

.AboutTitle h3{
    font-size: 30px;
    font-weight: 300;
    margin-left: 300px;
    margin-top: -50px;
    justify-content: center;
    color: white;
}

.ShisTransparent {
    position: absolute;
    z-index: 20;
    left: 330px;
    bottom: 20px;
}

.WhiteDiv {
    position: absolute;
    width: 800px;
    height: 50px;
    left: 0px;
    bottom: -5px;
    background: white;
    
}

//-----------------Right Side-----------------//

.WhiteDivTop {
    position: absolute;
    width: 400px;
    height: 50px;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 0 0 auto;
    background: red;
}

.AboutInfo {
    padding-top: 20vh;
    
}

#Mission h2, #Vision h2, #Core h2 {
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.AboutInfo p {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    color: white;
}

/*Moibile Responsive*/
@media screen and (max-width: 1440px){

    .AboutLayer {
        margin-top: -17vh;
    }
    
    .AboutTitle h1 {
        font-size: 80px;
        width: 50vh;
    }

    .AboutTitle h3 {
        margin-left: 30vh;
        width: 50vh;
    }

    #Mission h2, #Vision h2, #Core h2 {
        font-size: 35px;
    }

    .WhiteDivTop {
        top: -17vh;
    }

    .SmallWhiteDiv {
        top: 8vh;
    }
}

@media screen and (max-width: 1024px){
    
    .AboutLayer { 
        margin-top: -15.5vh;
    }

    .AboutTitle  {
        margin-top: 35vh;
    }

    .ShisTransparent {
        left: 15px;
    }

    .AboutTitle h1 {
        font-size: 65px;
        margin-left: -5vh;
    }

    .AboutTitle h3 {
        margin-left: 20vh;
    }

    .AboutInfo {
        padding-top: 15vh;
    }

    .SmallWhiteDiv {
        top: 20vh;
        left: 5vh;
    }

    
    #Mission h2, #Vision h2, #Core h2 {
        font-size: 45px;
    }

    .AboutInfo p {
        font-size: 17px;
    }

}

@media screen and (max-width: 768px){
    .AboutLayer { 
        overflow-x: hidden;
    }

    .WhiteDivTop {
        width: 50.8vh;
        margin: 0 0 0 auto;
    }

    .SmallWhiteDiv {
        left: 7vh;
    }

    .WhiteDiv { 
        width: 50.8vh;
    }

    .AboutTitle h1 {
        font-size: 60px;
    }

    .AboutTitle h3 {
        font-size: 20px;
    }

    .ShisTransparent {
        height: 30vh;
        left: 10vh;
    }

    .AboutInfo {
        padding-top: 20vh;
    }

    #Mission h2, #Vision h2, #Core h2 {
        font-size: 40px;
    }

    .AboutInfo p { 
        font-size: 15px;
    }
}

@media screen and (max-width: 425px){

    .AboutLayer { 
        min-height: 110%;

    }

    .WhiteDivTop {
        width: 91.8vh;
        left: 96vh;
    }

    .AboutTitle { 
        // margin-top: 40vh;
        margin-top: 10vh;
    }

    .AboutInfo {
        margin-left: -192vh;
        margin-top: 85vh;
    }

    .AboutTitle h1 {
        font-size: 135px;
        margin-left: 15vh;
        width: 90vh;
    }

    .AboutTitle h3 {
        margin-left: 65vh;
        font-size: 73px;
        width: 70vh;
    }

    .SmallWhiteDiv {
        left: 10vh;
    }

    .WhiteDiv { 
        bottom: -85px;
    }

    #Mission h2, #Vision h2, #Core h2 {
        font-size: 100px;
        text-align: center;
    }

    .AboutInfo p { 
        font-size: 50px;
        text-align: justify;
    }

    .ShisTransparent {
        left: 10vh;
    }
}

@media screen and (max-width: 375px){
    .AboutInfo {
        margin-left: -127vh;
    }
}
@media screen and (max-width: 320px){
    .AboutInfo {
        margin-left: -140vh;
    }
}