@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.AboutLayer {
    background-color: #ad72b7;
    font-family: Quicksand;
    min-height: 100vh;
    width: 100%;
    display: flex;
}

//-----------------Left Side-----------------//

.AboutSection {
    width: 50%;
}

.SmallWhiteDiv {
    position: absolute;
    width: 100px;
    height: 2px;
    left: 10vh;
    top: 25vh;
    background: white;
}

.AboutTitle {
    padding-left: 50px;
    margin-top: 25vh;
}

.AboutTitle h1 {
   font-size: 100px;
   font-weight: 300;
   margin-left: -25vh;
   display: flex;
   color: white;
   justify-content: center;
}

.AboutTitle h3{
    font-size: 30px;
    font-weight: 300;
    padding-left: 35vh;
    margin-top: -50px;
    justify-content: center;
    color: white;
}

.ShisTransparent {
    position: absolute;
    z-index: 20;
    left: 330px;
    bottom: 20px;
}

.WhiteDiv {
    position: absolute;
    width: 750px;
    height: 50px;
    left: 0px;
    bottom: -5px;
    background: white;
}

//-----------------Right Side-----------------//
.AboutInfo {
    padding-top: 20vh;
    width: 50%;
}

.WhiteDivTop {
    position: absolute;
    width: 400px;
    height: 50px;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 0 0 auto;
    background: white;
}

#Mission h2, #Vision h2, #Core h2 {
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.AboutInfo p {
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

//-----------------Mobile Responsive-----------------//

@media screen and (max-width: 1536px){
    .AboutInfo {
        padding-top: 10vh;
    }
}

@media screen and (max-width: 1440px){

    .AboutLayer {
        margin-top: -17vh;
    }

    .AboutInfo {
        padding-top: 15vh;
    }
    
    .AboutTitle h1 {
        font-size: 80px;
        margin-left: 0vh;
    }

    .AboutTitle h3 {
        padding-left: 27vh;
    }

    #Mission h2, #Vision h2, #Core h2 {
        font-size: 50px;
    }

    .WhiteDivTop {
        top: -17vh;
    }

    .SmallWhiteDiv {
        top: 8vh;
    }
}

@media screen and (max-width: 1366px){
    .AboutLayer {
        height: 120vh;
    }
  }

@media screen and (max-width: 1024px){
    
    .AboutLayer {
        height: 100vh;
        margin-top: 0vh;
    }

    .AboutTitle  {
        margin-top: 35vh;
    }

    .ShisTransparent {
        left: 15px;
    }

    .AboutTitle h1 {
        font-size: 65px;
        margin-left: 0vh;
    }

    .AboutTitle h3 {
        padding-left: 10vh;
    }

    .AboutInfo {
        padding-top: 15vh;
    }

    .WhiteDivTop {
        top: 0vh;
    }

    .WhiteDiv {
        width: 500px;
    }

    .SmallWhiteDiv {
        top: 35vh;
        left: 5vh;
    }

    #Mission h2, #Vision h2, #Core h2 {
        font-size: 45px;
    }

    .AboutInfo p {
        font-size: 17px;
    }

}

@media screen and (max-width: 768px){
    .AboutLayer { 
        flex-direction: column;
        align-items: center;
        height: 115vh;
    }

    .AboutSection {
        margin-top: -25vh;
        width: 100%;
    }

    .AboutInfo {
        width: 100%;
    }
        
    .AboutTitle  {
        margin-left: 0px;
        padding-left: 0vh;
    }

    .WhiteDivTop {
        width: 50.8vh;
        top: -1vh;
    }

    .SmallWhiteDiv {
        left: 30vh;
        top: 10vh;
    }

    .WhiteDiv { 
        width: 50vh;
    }

    .AboutTitle h1 {
        font-size: 60px;
        margin-left: 0vh;
    }

    .AboutTitle h3 {
        font-size: 20px;
        padding-left: 45vh;
    }

    .ShisTransparent {
        height: 45vh;
        left: 0vh;
    }

    .AboutInfo {
        padding-top: 3vh;
    }

    #Mission h2, #Vision h2, #Core h2 {
        font-size: 45px;
        margin-bottom: 0vh;
        text-align: center;
    }

    .AboutInfo p { 
        font-size: 18px;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 510px){
    .AboutLayer {
        height: 130vh;
    }

    .WhiteDiv { 
        width: 25vh;
    }
    
    .WhiteDivTop {
        width: 30vh;
    }

    .AboutTitle h1 {
        padding-left: 0vh;
    }

    .AboutTitle h3{
        padding-left: 5vh;
    }

    .ShisTransparent {
        left: 0vh;
        top: 65vh;
        height: 35vh;
    }
}

@media screen and (max-width: 375px){
    // .AboutLayer {
    //     height: 120vh;
    // }
}