@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.FooterPage {
    background-color: #ad72b7;
    min-height: 50vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    
}
//-----------------Footer Logo-----------------//
.LogoSection {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Shis-footer-logo {
    position: relative;
    z-index: 20;
    right: 0vh;
    top: 0vh;
    width: auto;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

//-----------------Footer Page Links-----------------//

.LinkSection {
    width: 20%;
    padding: 0 !important;
    margin: 0;
}

.footer-menu {
    padding: 0 !important;
    margin: 0;
}

.footer-menu li {
    list-style: none;
    color: white;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-menu h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 5vh;
    color: white;
}

.footer-menu a {
    font-weight: 300;
    font-size: 20px;
    color: white;
    padding-top: 1vh;
}

//-----------------SHIS Contact Info-----------------//

.ContactSection {
    width: 20%;
}

.ContactSection h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 5vh;
    color: white;
}

.ContactSection h2 {
    font-weight: 300;
    font-size: 20px;
    list-style: none;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

//-----------------SHIS Description-----------------//

.DescriptionSection {
    width: 40%;
}

#FooterTitle {
    font-size: 65px;
    font-weight: 600;
    padding-left: 20px;
    margin-top: 10vh;
    color: white;
    
}

#SecondTitle {
    margin-top: -3vh;
    padding-left: 20px;
    font-size: 65px;
    font-weight: 300;
    color: white;
    
}

#FooterDescription {
    margin-top: -3vh;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
    color: white;
    justify-content: center;
    text-align: justify;
}

//-----------------Bottom Footer-----------------//
.footerLine {
    background-color: #ad72b7; 
}

.FooterLineDiv {
    position: absolute;
    left: 25%;
    width: 100%;
    max-width: 50%;
    height: 1px;
    bottom: 5vh;
    background: #905D98;
}

.Copyright {
    background-color: #ad72b7;
}

.Copyright h3 {
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 0vh;
}

//-----------------Mobile Responsive-----------------/

@media screen and (max-width: 1440px){

    #FooterTitle {
        font-size: 55px;    
    }
    
    #SecondTitle {
        font-size: 55px;
    }
}

@media screen and (max-width: 1092px){
    
    #FooterTitle {
        font-size: 45px;    
    }
    
    #SecondTitle {
        font-size: 50px;
    }

    #FooterDescription {
        font-size: 15px;
    }
}


@media screen and (max-width: 1024px){

    .Shis-footer-logo {
        width: auto;
        height: 200px;
    }

    .ContactSection h2 {
        font-size: 17px;
    }

    #FooterTitle {
        font-size: 45px;
    }
    
    #SecondTitle {
        font-size: 45px;
    }
    
    #FooterDescription {
        margin-top: -3vh;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px){
    .FooterPage {
        flex-direction: column;
        align-items: center;
    }
    
    .Shis-footer-logo {
        top: 0vh;
        height: 20vh;
        width: auto;
        align-items: center;
        margin-left: -30px;
    }

    .footer-menu h1 {
        font-size: 20px;
        margin-bottom: 3vh;
        margin-top: 3vh;
    }

    .footer-menu a {
        font-size: 20px;
    }

    .ContactSection {
        width: 100%;
    }

    .ContactSection h1 { 
        font-size: 20px;
        margin-top: 5vh;
    }

    .ContactSection h2 {
        font-size: 20px;
    }

    .DescriptionSection {
        width: 100%;
    }

    #FooterTitle {
        text-align: center;
        font-size: 45px;
        margin-top: 3vh;
        padding-left: 0px;
    }
    
    #SecondTitle {
        padding-left: 0px;
        text-align: center;
        font-size: 45px;
    }
    
    #FooterDescription {
        text-align: center;
        margin-top: -3vh;
        margin-bottom:3vh;
        padding-left: 50px;
        font-size: 15px;
    }

    .FooterLineDiv {
        margin-bottom: 0vh;
    }
}