@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.LandingForm {
    min-height: 90vh;
    min-width: 100%;
    display: flex;
}

//-----------------Left Side-----------------//
.TitleSection {
    // background-color: blue;
    width: 50%;
}

.LineDiv {
    position: absolute;
    width: 120px;
    height: 2px;
    left: 10vh;
    top: 0;
    background: black; 
}

.FormTitle h1{
    font-weight: 300;
    font-size: 90px;
    margin-top: 20vh;
    margin-left: 10vh;
}

.FormTitle p {
    font-size: 20px;
    width: 55vh;
    margin-left: 20vh;
    margin-top: -3vh;
    color: black;
}

.black-gridForm {
    position: absolute;
    width: 129px;
    height: 129px;
    left: 20vh;
    top: -15vh;
    // z-index: 10;
}
//-----------------Right Side-----------------//

.FormSection {
    // background-color: pink;
    width: 50%;
}

.RightSection {
    margin-top: 30vh;
}

.FormLabel .ant-row .ant-col label {
    font-size: 20px !important;
}

.SubmitBtn  {
    font-size: 50px;
    width: 200px;
}

.black-gridForm2 {
    position: absolute;
    width: 129px;
    height: 129px;
    left: 75vh;
    top: 25vh;
    // z-index: 10;
}

//-----------------Mobile Responsive-----------------/
@media screen and (max-width: 1440px){

    .FormTitle h1 {
        width: 100%;
    }

    .black-gridForm2 {
        left: 65vh;
        top: 30vh;
    }

    .RightSection {
        margin-left: 5vh;
    }
}

@media screen and (max-width: 1024px){

    .LandingForm {
        min-width: 134%;
    }

    .FormTitle h1 {
        width: 125%;
        font-size: 80px;
    }

    .black-gridForm2 {
        left: 60vh;
        top: 35vh;
    }

    .black-gridForm {
        left: 20vh;
        top: -17vh;
    }
}

@media screen and (max-width: 768px){

    .LandingForm {
        min-width: 168%;
    }

    .FormTitle h1 {
        width: 125%;
        font-size: 100px;
    }

    .FormTitle p {
        font-size: 27px;
        width: 80vh;
    }

    .FormLabel .ant-row .ant-col label {
        font-size: 30px !important;
    }
}

@media screen and (max-width: 425px){
    .LandingForm {
        min-width: 170%;
    }

    .FormTitle h1 {
        width: 155%;
        font-size: 125px;
        
    }

    .FormTitle p {
        font-size: 35px;
        width: 126vh;
    }
    
    // .TitleSection {
    //     width: 100%;
    // }

    // .FormSection {
    //     width: 100%;
    // }
}
