@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

//-----------------Right Side-----------------//

.black-gridLoc2{
    position: absolute;
    width: 129px;
    height: 129px;
    bottom: -8vh;
    z-index: 10;
}

//-----------------Right Side-----------------//

.black-gridLoc{
    position: absolute;
    width: 129px;
    height: 129px;
    right: 0;
    top: -18vh;
    z-index: 10;
}

@media screen and (max-width: 991px){
    .black-gridLoc{
        top: 0vh;
    }
}

@media screen and (max-width: 768px){
    .black-gridLoc{
        top: 50vh;
    }
}