@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.ServicesPage {
    font-family: Quicksand;
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 10vh;
}

//-----------------Left Side-----------------//

.ServicesSection {
    width: 50%;
}

.ServicesPage h1{
    font-size: 100px;
    font-weight: 300;
    display: flex;
    color: black;
    justify-content: center;
    letter-spacing: -5px;
}

.ServicesTitle {
    margin-top: 0vh;
}

#TextOne {
    margin-left: 0vh;
}

#TextTwo {
    margin-top: -10vh;
    margin-left: 15vh;
    white-space: nowrap;

    span {
        border-bottom: 3px solid black;
        height: 15vh;
        padding-top: 0px;
    }
}

//-----------------Services-----------------//

.ServicesInfo {
    margin-top: -3vh;
    margin-bottom: 22vh;
    padding-left: 10vh;
}

#Communication h2, #MedicalRecord h2, #Analytics h2 {
    font-size: 50px;
    font-weight: 600;
    color: #ad72b7;
}

#Communication p, #MedicalRecord p, #Analytics p{
    padding-left: 15px;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    color: black;
}

//-----------------Right Side-----------------//

.ServicesImage {
    width: 50%;
    height: auto;
}
//-----------------Services Images-----------------//

.LaptopPhone {
    position: relative;
    z-index: 20;
    right: 0vh;
    top: 30vh;
    width: auto;
    height: 43vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.black-grid1{
    position: absolute;
    width: 129px;
    height: 129px;
    right: 0;
    z-index: 10;
}

.black-grid2{
    position: absolute;
    width: 129px;
    height: 129px;
    bottom: 8vh;
    right: 100vh;
    z-index: 10;
}

//-----------------Mobile Responsive-----------------//

@media screen and (max-width: 1440px){

    .ServicesTitle {
        padding-left: -5vh;
    }

    #TextTwo span {
        height: 16vh;
    }

    .LaptopPhone {
        top: 40vh;
        height: auto;
        width: 85%;
    }
}

@media screen and (max-width: 1366px){
    #TextTwo span {
        height: 17vh;
    }
  }

@media screen and (max-width: 1024px){

    .LaptopPhone {
        top: 40vh;
        margin-left: auto;
        margin-right: auto;
        left: 0vh;
    }

    .ServicesPage h1 {
        font-size: 80px;
    }

    #TextTwo {
        margin-top: -8vh;

        span {
            height: 13vh;
        }
    }

    .ServicesInfo {
        padding-top: 2vh;
    }

    #Communication h2, #MedicalRecord h2, #Analytics h2 {
        margin-bottom: 0px;
        font-size: 35px;
    }
    
    #Communication p, #MedicalRecord p, #Analytics p{
        font-size: 17px;
    }

    .black-grid2 {
        left: 75vh;
        bottom: 5vh;
    }
}

@media screen and (max-width: 768px){
    
    .ServicesPage {
        flex-direction: column;
        align-items: center;
    }

    .ServicesSection {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .ServicesImage {
        width: 100%;
    }
    
    .ServicesTitle { 
        margin-top: 10vh;
        text-align: center;
    }

    .ServicesInfo {
        padding-top: 0vh;
        padding-left: 0vh;
    }

    #Communication h2, #MedicalRecord h2, #Analytics h2 {
        font-size: 50px;
        text-align: center;
    }
    
    #Communication p, #MedicalRecord p, #Analytics p{
        padding-left: 0vh;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    } 

    .black-grid1 {
        left: 0vh;
        top: 0vh;
    }

    .black-grid2 {
        left: 65vh;
        bottom: -3vh;
    }

    .LaptopPhone {
        top: -15vh;
        width: 50%;
        left: 0vh;
    }
}

@media screen and (max-width: 675px){
    .black-grid2 {
        left: 50vh;
    }
}

@media screen and (max-width: 465px){

    .black-grid2 {
      left: 40vh;
    }
  }

@media screen and (max-width: 425px){
    .ServicesTitle { 
        text-align: center;
    }

    .ServicesInfo { 
        margin-top: 5vh;
        margin-left: 0vh;
    }

    #TextTwo {
        margin-left: 0vh;
    }

    #Communication h2, #MedicalRecord h2, #Analytics h2 {
        text-align: center;
    }
    
    #Communication p, #MedicalRecord p, #Analytics p{
    
        text-align: justify;
    } 

    .black-grid1 {
        top: 0vh;
    }

    .black-grid2 {
        left: 35vh;
    }

    .LaptopPhone {
        left: 0vh;
    }
}

@media screen and (max-width: 375px){
    .ServicesInfo {
        margin-left: 0vh;
    }

    #Communication h2, #MedicalRecord h2, #Analytics h2 {
        font-size: 45px;
    }
    
    #Communication p, #MedicalRecord p, #Analytics p{
        font-size: 18px;
    } 

    .black-grid2 {
        left: 25vh;
    }
}

@media screen and (max-width: 320px){
    .ServicesInfo {
        margin-left: 0vh;
    }
}