@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.LocationMain {
    min-height: 105vh;
    min-width: 100%;
    display: flex;
    font-family: Quicksand;
}

//-----------------Left Side-----------------//

.LocLeft {
    width: 55%;
    background-color: #ad72b7;
}

.BarangayInfo {
    margin-top: 10vh;
}

.BarangayInfo h1 {
    font-size: 100px;
    font-weight: 300;
    color: white;
    letter-spacing: -5px;
}

#BarangayTitle1 {
    margin-left: 5vh;
}

#BarangayTitle2  {
    margin-top: -10vh;
    margin-left: 10vh;
    width: 75vh;
}

#BarangayDescription {
    color: white;
    font-size: 20px;
    margin-top: -3vh;
    margin-left: 17vh;
    width: 73vh;
}

//-----------------Right Side-----------------//

.black-gridLoc{
    position: relative;
    width: 129px;
    height: 129px;
    left: 60vh;
    top: 0vh;
    z-index: 10;
}

.BarangayCarousel {
    width: 45%;
    background-color: red;
    left: 10vh;
}

.ImageCaro {
    height: 500px;
    width: 500px;
    display: absolute;
    left: -10px;
}


/*Moibile Responsive*/
@media screen and (max-width: 1440px){
    .black-gridLoc {
        left: 30vh;
    }
}    
@media screen and (max-width: 768px){
    .black-gridLoc {
        left: 10vh;
    }
}
