@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.ServicesPage {
    font-family: Quicksand;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

//-----------------Left Side-----------------//

.ServicesSection {
    width: 50%;
}

.ServicesPage h1{
    font-size: 100px;
    font-weight: 300;
    display: flex;
    color: black;
    justify-content: center;
    letter-spacing: -5px;
}

.ServicesTitle {
    margin-top: 0vh;
}

#TextOne {
    margin-left: 0vh;
}

#TextTwo {
    margin-top: -10vh;
    margin-left: 15vh;
}

.SmallBlackDiv {
    position: absolute;
    width: 18vh;
    height: 2px;
    right: 5vh;
    top: 27vh;
    background: black;
}

//-----------------Services-----------------//

.ServicesInfo {
    margin-top: -3vh;
    margin-bottom: 22vh;
}

#Communication h2, #MedicalRecord h2, #Analytics h2 {
    font-size: 40px;
    font-weight: 600;
    color: #ad72b7;
}

#Communication p, #MedicalRecord p, #Analytics p{
    padding-left: 15px;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    justify-content: center;
    color: black;
}

//-----------------Right Side-----------------//

.ServicesImage {
    width: 50%;
    height: auto;
}
//-----------------Services Images-----------------//
.LaptopPhone {
    position: absolute;
    z-index: 20;
    right: 25vh;
    top: 25vh;
    width: auto;
    height: 43vh;
}

.black-grid1{
    position: relative;
    width: 129px;
    height: 129px;
    top: 10px;
    left: 100vh;
    z-index: 10;
}

.black-grid2{
    position: relative;
    width: 129px;
    height: 129px;
    top: -20vh;
    left: 85vh;
    z-index: 10;
}

/*Moibile Responsive*/
@media screen and (max-width: 1440px){

    .ServicesTitle {
        margin-left: -5vh;
    }

    .SmallBlackDiv {
        right: 5vh;
        top: 31vh;
    }

    .black-grid1 {
        left: 80vh;
    }

    .LaptopPhone {
        right: 15vh;
        top: 25vh;
    }
}

@media screen and (max-width: 1024px){

    .black-grid1 {
        left: 25vh;
    }

    .black-grid2 {
        top: -15vh;
        left: 50vh;
    }

    .LaptopPhone {
        top: 35vh;
        left: 65vh;
        height: 30vh;
    }
    
    .SmallBlackDiv {
        top: 25vh;
    }

    .ServicesPage h1 {
        font-size: 80px;
    }

    #TextTwo {
        margin-top: -8vh;
    }


    .ServicesInfo {
        padding-top: 2vh;
    }

    #Communication h2, #MedicalRecord h2, #Analytics h2 {
        margin-bottom: 0px;
        font-size: 35px;
    }
    
    #Communication p, #MedicalRecord p, #Analytics p{
        font-size: 17px;
    } 
}

@media screen and (max-width: 768px){
    
    .ServicesSection {
        width: 100%;
    }

    .ServicesImage {
        width: 0%;
    }
    
    .ServicesTitle { 
        margin-top: 10vh;
        text-align: center;
    }

    .ServicesInfo {
        padding-top: 35vh;
    }

    #Communication h2, #MedicalRecord h2, #Analytics h2 {
        font-size: 50px;
        text-align: center;
    }
    
    #Communication p, #MedicalRecord p, #Analytics p{
        font-size: 17px;
        text-align: center;
    } 

    .SmallBlackDiv {
        left: 55vh;
        bottom: 2vh;
    }

    .black-grid1 {
        position: absolute;
        left: 0vh;
    }

    .black-grid2 {
        top: -15vh;
    }

    .LaptopPhone {
        top: 40vh;
        left: 30vh;
    }
}

@media screen and (max-width: 425px){
    .ServicesTitle { 
        margin-left: -30vh;
    }

    .ServicesInfo { 
        margin-top: 80vh;
        margin-left: 25vh;
    }

    #TextOne {
        font-size: 150px;
    }

    #TextTwo {
        font-size: 150px;
    }

    #Communication h2, #MedicalRecord h2, #Analytics h2 {
        font-size: 100px;
        width: 100vh;
        text-align: center;
    }
    
    #Communication p, #MedicalRecord p, #Analytics p{
        font-size: 50px;
        width: 100vh;
        text-align: justify;
    } 

    .SmallBlackDiv {
        left: 60vh;
    }

    .black-grid1 {
        width: 200px;
        height: 200px;
        top: -360vh;
    }

    .black-grid2{
        width: 200px;
        height: 200px;
        right: -85vh;
        top: -15vh;
    }
}

@media screen and (max-width: 375px){
    .ServicesInfo {
        margin-left: 15vh;
    }
}

@media screen and (max-width: 320px){
    .ServicesInfo {
        margin-left: 0vh;
    }
}