@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

//-----------------NavBar-----------------//
.portfolio-hero {
    font-family: Quicksand;
    background-color: white;
    position: fixed;
    color:black;
    width: 100%;
    z-index: 999;
}

.portfolio-menu ul {
    display: flex;
    padding-top: 15px;
    z-index: 999;   
}

.portfolio-menu ul li {
    margin: 20px 30px;
    list-style: none;
}

.portfolio-menu .menu-item a{
    color: black;
    font-weight: 600;
    font-size: 1.50rem; 
}

.nav-menu {
    margin: 0;
    padding: 0;
}

//-----------------NavBar hover-----------------//

.portfolio-hero nav ul li a:after,
.portfolio-hero nav ul li a:before {
  transition: all .5s;
}

.portfolio-hero nav ul li a:hover {
  color: #ad72b7;
}

.portfolio-hero nav.stroke ul li a,
.portfolio-hero nav.fill ul li a {
  position: relative;
}

.portfolio-hero nav.stroke ul li a:after,
.portfolio-hero nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ad72b7;
  height: 2px;
}

.portfolio-hero nav.stroke ul li a:hover:after {
  width: 100%;
}


//-----------------NavBar Logo-----------------//

.portfolio-menu img {
    max-height: auto;
    max-width: 100px;
}

//-----------------Mobile Responsive-----------------//

@media screen and (max-width: 1440px){
    .portfolio-menu ul {
      z-index: 999;
      padding-left: 0vh;
  }
}

@media screen and (max-width: 768px){
  
  .MobileNav {
    width: 100%;
    background-color: #ad72b7;
  }

  .portfolio-menu ul {
    background-color: #ad72b7;
    position: absolute;
    right: 0;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .portfolio-menu img {
    display: none;
  }

  .portfolio-menu .menu-item a{
    font-size: 2.50rem;
    color: white;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
  }
}

@media screen and (max-width: 425px){
  .portfolio-menu ul {
    flex-direction: column;
  }
}

// Drawer CSS
.nav-drawer > .ant-drawer-content-wrapper > .ant-drawer-content > .ant-drawer-wrapper-body > .ant-drawer-body {
    background-color: #AD72B7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}