@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.LandingForm {
    min-height: 100vh;
    display: flex;
    width: 100%;
}

//-----------------Left Side-----------------//
.TitleSection {
    padding-top: 30vh;
    width: 50%;
}

.LineDiv {
    position: absolute;
    width: 120px;
    height: 2px;
    left: 10vh;
    top: 0;
    background: black; 
}

.FormTitle h1{
    font-weight: 400;
    font-size: 90px;
    padding-left: 5vh;
}

.FormTitle p {
    font-size: 20px;
    padding-left: 10vh;
    margin-top: -3vh;
    justify-content: center;
    text-align: justify;
    color: black;
}

.black-gridForm {
    position: absolute;
    width: 129px;
    height: 129px;
    left: 20vh;
    top: -20vh;
}
//-----------------Right Side-----------------//

.FormSection {
    padding-top: 10vh;
    width: 50%;
}

.RightSection {
    margin-top: 30vh;
}

.FormLabel .ant-row .ant-col label {
    font-size: 20px !important;
}

.CheckLink a {
    color: black;
    font-size: 15px;
    padding-left: 60vh;
}

.SubmitBtn  {
    font-size: 50px;
    width: 200px;
    margin-right: 5vh;
}

.black-gridForm2 {
    position: absolute;
    width: 129px;
    height: 129px;
    right: 0;
    z-index: 1;
}

//-----------------Mobile Responsive-----------------/
@media screen and (max-width: 1440px){

    .FormTitle h1 {
        font-size: 70px;
    }

    .black-gridForm {
        left: 30vh;
        top: -20vh;
    }

    .CheckLink a {
        padding-left: 40vh;
    }

    .SubmitBtn {
        margin-top: 2vh;
    }
}

@media screen and (max-width: 1088px){
    .FormTitle h1 {
        font-size: 65px;
    }
}

@media screen and (max-width: 1024px){
    .FormTitle h1 {
        font-size: 60px;
    }

    .FormTitle p {
        font-size: 17px;
        padding-left: 8vh;
    }

    .black-gridForm {
        left: 20vh;
        top: -17vh;
    }

    .black-gridForm2 {
        right: 1vh;
    }
    .CheckLink a {
        padding-left: 20vh;
    }
}

@media screen and (max-width: 991px){
    .LandingForm {
        margin-top: 45vh;
        flex-direction: column;
        align-items: center;
    }

    .TitleSection {
        width: 100%;
    }

    .FormTitle h1 {
        font-size: 50px;
        padding-left: 0vh;
        text-align: center;
    }

    .FormTitle p {
        font-size: 18px;
        padding-left: 50px;
        padding-right: 50px;
        text-align: justify;
    }

    .FormSection {
        width: 100%;
        margin-top: -25vh;
        padding-top: 0vh;
    }

    .FormLabel .ant-row .ant-col label {
        font-size: 30px !important;
    }

    .FormLink{
        font-size: 10px;
    }

    .SubmitBtn  {
        right: 0vh;
    }

    .CheckLink a {
        padding-left: 50vh;
    }
}

@media screen and (max-width: 768px){

    .LandingForm {
        margin-top: 40vh;
    }
}

@media screen and (max-width: 465px){
    .black-gridForm2 {
        display: none;
    }
}

@media screen and (max-width: 425px){
    .LandingForm {
        margin-top: 20vh;
    }

    .CheckLink a {
        padding-left: 0vh;
    }
}


