@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.LandingForm {
    min-height: 100vh;
    display: flex;
    width: 100%;
}

//-----------------Left Side-----------------//
.TitleSection {
    padding-top: 25vh;
    width: 50%;
}

.LineDiv {
    position: absolute;
    width: 120px;
    height: 2px;
    left: 10vh;
    top: 0;
    background: black; 
}

.FormTitle h1{
    font-weight: 300;
    font-size: 90px;
    padding-left: 5vh;
}

.FormTitle p {
    font-size: 20px;
    padding-left: 10vh;
    margin-top: -3vh;
    color: black;
}

.black-gridForm {
    position: absolute;
    width: 129px;
    height: 129px;
    left: 20vh;
    top: -15vh;
}
//-----------------Right Side-----------------//

.FormSection {
    width: 50%;
}

.RightSection {
    margin-top: 30vh;
}

.FormLabel .ant-row .ant-col label {
    font-size: 20px !important;
}

.SubmitBtn  {
    font-size: 50px;
    width: 200px;
}

.black-gridForm2 {
    position: absolute;
    width: 129px;
    height: 129px;
    top: 25vh;
}

//-----------------Mobile Responsive-----------------/
@media screen and (max-width: 1440px){
    .black-gridForm2 {
        top: 30vh;
    }

    .FormTitle h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 1024px){
    .FormTitle h1 {
        font-size: 60px;
    }

    .FormTitle p {
        font-size: 17px;
    }

    .black-gridForm2 {
        top: 35vh;
    }

    .black-gridForm {
        left: 20vh;
        top: -17vh;
    }
}

@media screen and (max-width: 768px){

    .FormTitle h1 {
        font-size: 100px;
    }

    .FormTitle p {
        font-size: 27px;
    }

    .FormLabel .ant-row .ant-col label {
        font-size: 30px !important;
    }
}

@media screen and (max-width: 425px){
    

    .FormTitle h1 {
        width: 155%;
        font-size: 125px;
        
    }

    .FormTitle p {
        font-size: 35px;
        width: 126vh;
    }
    
    // .TitleSection {
    //     width: 100%;
    // }

    // .FormSection {
    //     width: 100%;
    // }
}
