@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

.landing {
  width: 100%;
  // overflow-x: hidden;
}

.Home {
  display: flex;
  height: 95vh;
  width: auto;
}

//-----------------Header Row-----------------//

.HomeTitle {
  position: relative;
  padding-top: 25vh;
  padding-left: 5vh;
  z-index: 2;
}

#LandingTitle  {
   font-size: 90px;
   font-weight: 700;
   margin-bottom: -10px;
   display: flex;
   color: #ad72b7;
}

#SecondaryTitle {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: -5px;
}

#LandingDescription {
    font-size: 20px;
    margin-left: 9vh;
    text-align: justify;
    width: 65vh;
}

//-----------------Header Row-----------------/

.ShisPurple {
    position: absolute;
    z-index: -1;
    left: -20px;
    top: 100px;
}

//-----------------Landing Page Main Image-----------------/

.VectorImage1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 131.7vh;
    z-index: 1;
    margin: 0 0 0 auto;
}

//-----------------Scroll Button-----------------/

  section {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
  }

  section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  }

  .demo a {
    position: absolute;
    left: 3vh;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: black;
    font-family: Quicksand;
    font-size: 20px;
    letter-spacing: .1em;
    transition: opacity .3s;
  }

  .demo a:hover {
    opacity: .5;
  }

  #section07 a {
    padding-top: 80px;
    bottom: 0px;
  }

  #section07 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -12px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }

  #section07 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }

  #section07 a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }

  #section07 a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  
  @-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  

//-----------------Mobile Responsive-----------------/
@media screen and (max-width: 2560px){
  .Landing {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 1536px){
  .VectorImage1 {
    width: 119vh;
  }

  #LandingTitle  {
   font-size: 80px;
   margin-bottom: -10px;
  }
  
  #SecondaryTitle {
    font-size: 80px;
    margin-bottom: -5px;
  }
  
  #LandingDescription {
    font-size: 18px;
    margin-left: 5vh;
  }
}

@media screen and (max-width: 1440px){
  
  .Home {
    height: 100vh;
  }
  .VectorImage1 { 
    width: 104vh;
    z-index: 1;   
  }

  #LandingTitle  {
      font-size: 70px;
      margin-bottom: -10px;
  }

  #SecondaryTitle {
      font-size: 70px;
      margin-bottom: -5px;
  }

  #section07 a {
      bottom: 15vh;
  }
}

@media screen and (max-width: 1366px){
  .Home {
    height: 103vh;
  }
  
  .VectorImage1 {
    width: 108vh;
    height: auto;
  }

  #LandingDescription {
    margin-left: 1vh;
  }

  #section07 a {
    bottom: 10vh;
  }
}

@media screen and (max-width: 1312px){
  .Home {
    height: 100vh;
  }

  .HomeTitle {
    padding-left: 2vh;
  }
  
  .VectorImage1 {
    width: 104vh;
  }
}

@media screen and (max-width: 1286px){
  .Home {
    height: 95vh;
  }

  #LandingDescription {
    font-size: 15px;
    margin-left: 1vh;
    padding-right: 5vh;
  }
  
  .VectorImage1 {
    width: 98vh;
    height: auto;
  }
}

@media screen and (max-width: 1230px){
  .VectorImage1 {
    display: none;
  }

  .ShisPurple {
    left: 0vh;
    right: 0;
    margin: auto;
    height: 70vh;
  }
}

@media screen and (max-width: 1024px){
  
  .Home {
    height: 115vh;
  }
  #section07 a {
    bottom: 23vh;
  }
}  

@media screen and (max-width: 768px){
  
  .Home {
    height: 90vh;
  }
  
  #LandingTitle  {
    font-size: 80px;
  }
   
   #SecondaryTitle {
     font-size: 80px;
  }
   
   #LandingDescription {
     font-size: 17px;
  }

   #section07 a {
    display: none;
  }

  .VectorImage1 {
    display: none;
  }
}

@media screen and (max-width: 635px){
  .HomeTitle { 
    padding-left: 1vh;
    margin-left: 0vh;
  }

   #LandingDescription {
    margin-left: 0vh;
    padding-left: 0vh;
    width: auto;
  }

  .ShisPurple {
    height: 60vh;
  }

   #section07 a {
    display: none;
  }
}

@media screen and (max-width: 465px){

  .ShisPurple {
    height: 40vh;
  }
}