.comm-menu > .ant-menu-submenu > .ant-menu-submenu-title {
    padding-left: 5px !important;
}
.comm-menu > .ant-menu-submenu > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
    display: none !important;
}

.comm-menu > .ant-menu-submenu > .ant-menu-sub > .ant-menu-item {
    padding-left: 5px !important;
}
