.login__Wrapper-sc-13rvd86-0 {
    background-color: #AD72B7;
}

form h5 {
    text-align: center !important;
}

.hfpcjp {
    max-width: 150px !important;
}

.gljmXt,
.cnTqve,
.jjzQmj {
    display: none !important;
}

.bNVkKb {
    padding: 24px !important;
}

.fsnoLW {
    padding: 0 48px;
}

.bNVkKb,
.eOhsXH {
    background-image: url("./web-app-bg.png");
    background-size: cover;
    background-position: center center;
}