@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
    overflow-x: hidden;
}

* {
    font-family: Quicksand;
    font-style: normal;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.ant-layout {
    min-height: 100vh;
}

.ant-menu-root {
    // temp remove for communication table
    // height: calc(78.6vh);
    // @media screen and (max-width: 1200px) {
    //     height: calc(89vh);
    // }
    display: flex;
    flex-direction: column;
}

.ant-menu-item:last-child {
    margin-top: auto;
}

.logoImage {
    margin: auto;
    display: block;
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-menu-inline.ant-menu-sub {
    background: none !important;
}

.ant-layout-sider {
    max-height: 100vh;
    min-height: 400px;
}

.ant-layout-sider-children > div,
.ant-layout-sider-children > div > div{
    height: 100%;
}

.ant-layout-sider-children > div > div > .ant-image {
    background-color: #5E3964;
}

.ant-layout-sider-children > div > div{
    display: flex;
    flex-direction: column;
}

.ant-layout-sider-children > div > div > .ant-menu{
    flex: 1
}

.ant-page-header-heading-title {
    color: white;
}

.ant-page-header-heading-sub-title {
    color: rgba(255, 255, 255, 0.5)
}

.ant-spin-nested-loading > div > .ant-spin {
    max-height: none !important;
}

.c-pill {
    align-items: center;
    font-family: "Open Sans", Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 11px;
    display: inline-block;
    height: 100%;
    white-space: nowrap;
    width: auto;
    position: relative;
    border-radius: 5px;
    line-height: 1;
    overflow: hidden;
    padding: 5px 12px 5px 20px;
    text-overflow: ellipsis;
    line-height: 1.25rem;
    color: white;
    word-break: break-word;
    &:before {
        border-radius: 50%;
        content: "";
        height: 10px;
        left: 6px;
        margin-top: -5px;
        position: absolute;
        top: 50%;
        width: 10px;
    }
}

.c-pill--success {
    background: #ad72b7d2;
}
.c-pill--success:before {
    background: #b4eda0;
}

.ant-back-top {
    right: 50px !important;
}

.display-linebreak {
    white-space: pre-line;
}
  