@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: Quicksand;
    font-style: normal;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.ant-layout {
    min-height: 100vh;
}

.ant-menu-root {
    height: calc(78.6vh);
    @media screen and (max-width: 1200px) {
        height: calc(89vh);
    }
    display: flex;
    flex-direction: column;
}

.ant-menu-item:last-child {
    margin-top: auto;
}

.logoImage {
    margin: auto;
    display: block;
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-menu-inline.ant-menu-sub {
    background: none !important;
}

.ant-layout-sider {
    max-height: 100vh;
    min-height: 400px;
}

.ant-layout-sider-children > div,
.ant-layout-sider-children > div > div{
    height: 100%;
}

.ant-layout-sider-children > div > div > .ant-image {
    background-color: #5E3964;
}

.ant-layout-sider-children > div > div{
    display: flex;
    flex-direction: column;
}

.ant-layout-sider-children > div > div > .ant-menu{
    flex: 1
}

.ant-page-header-heading-title {
    color: white;
}

.ant-page-header-heading-sub-title {
    color: rgba(255, 255, 255, 0.5)
}

.ant-spin-nested-loading > div > .ant-spin {
    max-height: none !important;
}