@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

h1, h2, h3, h4, p{
    font-family: Quicksand;
    font-style: normal;
}

.ant-layout {
    min-height: 100vh;
}

.ant-menu-root {
    height: calc(78.6vh);
    @media screen and (max-width: 1200px) {
        height: calc(84vh);
    }
    display: flex;
    flex-direction: column;
}

.ant-menu-item:last-child {
    margin-top: auto;
}

.logoImage {
    margin: auto;
    display: block;
}

.site-layout .site-layout-background {
    background: #fff;
}