@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

h1, h2, h3, h4, p{
    font-family: Quicksand;
    font-style: normal;
}

.left-container{
    display:flex !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.right-container{
    display:flex;
}

//-----------------Header Row-----------------//
.header{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.SHISLogo{
    position: relative;
    width: 134px;
    height: 103px;
    margin-left: 1vw;
}

.Box-Asset{
    position: relative;
    width: 428px;
    height: 84px;
    left: 10vw;
    top: -2vw;
    background: #AD72B7;
    border-radius: 5px;
}

//-----------------Welcome Text-----------------//
.desc-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.desc-text h1{
    width: 317px;
    height: 90px;
    margin: 100px 0px 0px 150px;
    font-weight: 600 !important;
    font-size: 72px;
    line-height: 90px;
}

.desc-text h3{
    width: 452px;
    height: 42px;
    margin: 5px 0px 0px 90px;
    font-weight: 400 !important;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #AD72B7 !important;
}

//-----------------Sign In Form-----------------//
.form-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 4vh;
}

.signInForm{
    position: relative;
    width: 438px;
    height: 85px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}


//-----------------Pin Code Form-----------------//

.pinCode{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 70px 0px 0px 100px;
}

.formPin{
    width: 438px;
    height: 85px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

.pin-form-submit{
    position: relative;
    margin: 10px;
}

.resetAccount{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 70px 0px 0px 100px;
    padding: 20px;
}

//-----------------Barangay Logo-----------------//
.logos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin: 30vh 0vw 0vh 8vw;
}

.LumilLogo{
    width: 125px;
    height: 105px;
    margin-left: 2vw;
}

.PKLogo{
    width: 125px;
    height: 105px;
}

//-----------------Grid Assets-----------------//
.black-grid{
    position: absolute;
    width: 129px;
    height: 129px;
    right: -12vw;
    top: 18vh;
    z-index: 10;
}

.black-grid-2{
    position: absolute;
    width: 129px;
    height: 129px;
    left: -3vw;
    top: 70vh;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.contentStyle1{
    background-image: url("../app/main/dashboard/sign-in/sign-in-assets/lumil1.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: scale-down;
    height: 100vh;
    width: 1450px;
}

.contentStyle2{
    background-image: url("../app/main/dashboard/sign-in/sign-in-assets/lumil2.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: scale-down;
    height: 100vh;
    width: 1450px;
}

.contentStyle3{
    background-image: url("../app/main/dashboard/sign-in/sign-in-assets/lumil3.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: scale-down;
    height: 100vh;
    width: 1450px;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 375.99px) { 
    .SHISLogo{
        width: 110px;
        height: 85px;
        margin-left: 50vw;
    }
    
    .Box-Asset{
        left: 40vw;
    }

    .desc-text h1{
        margin: 20px 0px 0px 90px;
        font-size: 50px;
    }
    
    .desc-text h3{
        margin: 5px 0px 0px 20px;
        font-size: 13px;
    }
    
    .form-body{
        justify-content: left;
        padding: 2vh;
    }

    .loginButton{
        margin-right: 300px;
    }
    
    .signInForm{
        width: 195px;
        height: 85px;
    }
    
    .pinCode{
        margin: 23px 0px 0px 5px;
    }

    .formPin{
        width: 438px;
        height: 85px;
        font-size: 13px;
    }

    .pin-form-submit{
        margin: 10px;
    }

    .resetAccount{
        margin: 70px 0px 0px 10px;
        padding: 20px;
    }

    .black-grid{
        visibility: hidden;
    }
    
    .black-grid-2{
        visibility: hidden;
    }

    .LumilLogo{
        width: 60px;
        height: 60px;
    }
    
    .PKLogo{
        width: 60px;
        height: 60px;
    }

    .logos{
        margin: 30vh 0vw 0vh 1vw;
    }

}
